{{#basic-dropdown renderInPlace=true as |dd|}}
    {{#dd.trigger class="waves-effect waves-light btn blue darken-2"}}
        {{#if selected}}
            {{selected}}
        {{else}}
            -- Select --
        {{/if}}
        <span class="caret"></span>
    {{/dd.trigger}}

    {{#dd.content}}
	    <ul class="collection">
        {{#each options as |opt|}}
            <li class="collection-item" {{action 'optSelected' opt dd}}>{{opt}}</li>
        {{/each}}
	    </ul>
    {{/dd.content}}
{{/basic-dropdown}}
