<h1>Fantasy Football</h1>
<div>
  <a href="home">Home</a>
  <a href="roster">Roster</a>
  <a href="players">Players</a>
  <a href="standings">Standings</a>
</div>
<div class="login">
	{{#if session.isAuthenticated}}
		<a {{action 'invalidateSession'}}> Logout </a>
	{{else}}
		{{#link-to 'login'}} Login {{/link-to}}
	{{/if}}
</div>
{{outlet}}